/* base styles*/

li{
    list-style:none; 
}
 a{
    text-decoration:none; 
    text-align:center;
    display:block;
    color:#545454;
    padding-bottom:50px; 
}
a:hover{
    color:#2193b0;
}
h2, h3{
    text-align: center;
    font-family: 'Playfair Display', serif;
    color:#545454;
    font-weight:lighter;
}
h4{
    text-align: center;
    font-family: 'Playfair Display', serif;
    color:#fff;
    font-weight:lighter;
}
p{
    text-align:center;
    font-family: 'Libre Baskerville', serif;
    color:#545454;
    font-weight:normal;
}
.intro{
    color:#fff;
    font-size:2em;
    padding-top:40px;
    margin:0;
}
.Contact{
    text-align:center;
}
.my-portfolio{
    padding-bottom:20px; 
}
.social{
    display:inline;
    height:40px;
    transition: all 0.5s ease;
}

.projects{
    padding:35px;
}
.odd{
    color:#FFF;
}
.project-links{
    border: solid 2px #FFF;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    padding:10px;
    color:#FFF;
    width:50%;
    transition: all 0.5s ease;
}
.project-links:hover{
    color:#2193b0;
    background-color: #fff;
    border: solid 2px #2193b0;
    
}
.middle{
   border:solid 2px #2193b0;
   color:#2193b0;
}
.middle:hover{
    color:#FFF;
    background-color:#2193b0;
    border: solid 2px #2193b0;
}
.project-info{
    color:#fff;
}
.website-3{
    color:#FFF;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}
.website-3:before,.website-3:after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 60px;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index:-1;
    -webkit-transform: skewY(3.5deg);
    -moz-transform: skewY(3.5deg);
    -ms-transform: skewY(3.5deg);
    -o-transform: skewY(3.5deg);
    transform: skewY(3.5deg);
    -webkit-backface-visibility: hidden;
}

.website-1{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}
.website-1:before,.website-1:after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 60px;
    z-index:-1;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -ms-transform: skewY(-3deg);
    -o-transform: skewY(-3deg);
    transform: skewY(-3deg);
    -webkit-backface-visibility: hidden;
}
.website-1:before,.website-3:before{
    top: -36px;
}
.website-1:after,.website-3:after {
    bottom: -20px;
}
/*image styles*/
img{
    max-width:75%;
    display: block;
    margin:0 auto;
}
.about{
    background-image:linear-gradient(
      rgba(33, 147, 176, 0.45), 
      rgba(33, 147, 176, 0.45)
    ),url("image1.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height:100vh;
}
/*navigation*/

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  border:1px solid #A9A9A9;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* media queries */
@media only screen and (min-width: 768px) {
    /* tablets and desktop */
h4{
    font-size:1.5em;
}
 .intro{
    font-size:3em;
 }
 .header li {
    text-align:center;
  }
  .menu li a {
    display: inline;
    float:right;
  }
  .header .menu {
    clear: none;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .header li a{
    padding: 20px 40px;
  }
  .website-1{
    background:#fff;
    
  }
  .website-1:after, .website-3:after,.website-1:before, .website-3:before{
    background:#fff;
  }
  .project-info, .odd{
    color:#545454;
  }
  .projects{
    color:#2193b0;
    font-size: 1.8em;
  }
  .project-links{
    border: solid 2px #2193b0;
    color: #2193b0;
    transition: all 0.5s ease;
  }
.project-links:hover{
    border: solid 2px #2193b0;
    background: #2193b0;
    color: #fff;
    transition: all 0.5s ease;
}
  img{
    max-width:50%;
  }
  .last{
    color:#fff;
  }
  .link-last{
    color:#2193b0;
    background-color:#fff;
  }
  footer, .Contact,.website-3{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    margin:0;
    padding:15px;
    position: relative;
  }
  .website-3:before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 60px;
    z-index:-1;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
    -webkit-backface-visibility: hidden;

  }
}